
<section id="banner" data-vide-bg="{{site.baseurl}}/assets/video/{% if site.video %}{{ site.video }}{% endif %}" data-vide-options="posterType: jpg, loop: true, muted: false, position: 50% 50%">
  <div class="wrapper">
    <div class="content">
      <h1 class="title" style="color:#c0334a">{% if site.banner-title %}{{ site.banner-title }}{% else %}R<span style="color:white">usty</span> R<span style="color:white">ecords</span>{% endif %}</h1>
      <h2 class="sub_title">{% if site.banner-desc %}{{ site.banner-desc }}{% else %}"A collection of time-consumed records and memories of my journey in a silly post-apocalyptic world.{% endif %}</h2>
    </div>
  </div>
</section> <!-- End Section Banner -->
